<div id="sideNavigation" class="sidebar">
  {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="container">
    <nav class="sidebar-nav">
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
    <div>
      <header class="lang-options">
        <div class="dropdown" >
         <button class="dropbtn">{{ site.data.languages[page.lang].icon }} {{ site.data.languages[page.lang].label }} 🔽</button>
         <div class="dropdown-content">
           {% for post in posts %}
             <a href="{{ site.baseurl }}{{ post.url }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a>
           {% endfor %}
         </div>
        </div>
      </header>
    </div>
    {% endif %}

    {% if site.ne_googlesearch != "true" %}
    <div>
      <header class="lang-options">
      <form method="get" action="http://www.google.com/search" target="_blank">
	<input type="hidden" name="sitesearch" value="{{ site.url }}" />
	<input type="text" name="q" maxlength="255" placeholder="{{ site.data.translations[page.lang]['sercxi'] }}" />
      </form>
      </header>
    </div>
    <br>
    {% endif %}

    <div class="sidebar-about">
      <h1>
        <a href="{{site.baseurl}}/{{page.lang}}">
          {{ site.data.translations[page.lang]['titolo'] | markdownify }}
        </a>
      </h1>
      <p class="lead">{{ site.data.translations[page.lang]['priskribo'] | markdownify }}</p>
    </div>

    {% if site.ne_afisxoj != "true" %}
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{site.baseurl}}/{{ page.lang }}">{{ site.data.translations[page.lang]['cxiujAfisxoj'] }}</a>
    {% endif %}
    {% assign page_indekso = site.pages | where:"lang", page.lang | where:"lang-ref", "indekso" %}

    {% comment %}
      On génère dans la barre de navigation la liste des pages :
       * qui sont de type page (`layout: page` dans l'en-tête)
       * qui n'ont pas catégorie définie (pas de ligne `kategorio: xxx` dans l'en-tête)
    {% endcomment %}
    {% assign pages_list = site.pages | where:"lang", page.lang | where:"kategorio", nil| sort:"lang-ref" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% if node.lang-ref != "indekso" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title | markdownify }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %}
      On génère dans la barre de navigation des menus déroulants avec les pages :
       * qui sont de type page (`layout: page` dans l'en-tête)
       * qui ont une catégorie définie (`kategorio: xxx` dans l'en-tête)
      ces pages sont regroupée par leur catégorie
    {% endcomment %}
    {% assign grouped = site.pages | where:"lang", page.lang | group_by: 'kategorio' %}
    {% for group in grouped %}
     {% unless group.name == ""  %}
      <details {% if page.kategorio == group.name %}open{% endif %}> <summary><strong>{{group.name}}</strong></summary>
      {% assign items = group.items | sort: 'lang-ref' %}
        <ul>
        {% for item in items %}
           <li class="nav-item {% if item.url == node.url %}current{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title |markdownify }}</a></li>
        {% endfor %}
        </ul>
      </details>
     {% endunless %}
    {% endfor %}



    {% for node in pages_list %}
      {% if node.layout == "index" %}
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{site.baseurl}}/{{ page.lang }}">{{ site.data.translations[page.lang]['cxiujAfisxoj'] }}</a>
        {% break %}
      {% endif %}
    {% endfor %}

    </nav>
    <p>&copy; {{ site.auxtoro }} {{ site.time | date: '%Y' }}.<br>{{ site.data.translations[page.lang]['rajtoj'] }} {{site.permesilo}}
    <br> {{ site.data.translations[page.lang]['Funkciigita'] }} <a href="https://github.com/jmichault/jekyll-plurlingva">jekyll-plurlingva</a> </p>
  </div>
</div>
